/*定位*/
.wrap{
    position: relative;
    width: 500px;
    height:630px;
    margin:0 auto;
}
/*菜式导航*/
.navbar {
    border-radius: 0;
    background: #503431;
}
/*实现下拉*/
.content .nav{
	height:50px;
	overflow:hidden;
}
/**/

/*bootstrap默认加了relative的属性值给position，导致我的定位错位了，下面是为了food样式定位是跳过li元素*/
.content li{
    position: static;
}
.content li:first-child a:first-child{
    color: #EEEE00;
}
.content .click_down{
	position:absolute;
    top:20px;
    right:10px;
	color:white;
}
.content .click_down:hover{
	font-size:20px;
	cursor:pointer;
}
/*添加菜类*/
.add_type span{
    color:white;
    margin:17px 10px;
}
.add_type span:hover{
    cursor:pointer;
    font-size:15px;
}
.add_type input{
    text-align: center;
    border:1px solid #3c3c3c;
    border-radius:5px;
    -moz-border-radius:5px;
}
.add_type_content{
    float: left;
    margin: 14px 0 0 0;
    display: none;
}
/**/
.food{
    position:absolute;
    top:50px;
    left:-1px;
    width:500px;
    height:450px;
    overflow:hidden;
    background: #72413d;
    border-top: solid 2px white;
    display:none;
}
.food1{
    display: block;
}
/*滚动条*/
.food:hover{
    overflow:scroll;
    overflow-x:hidden
}
.food:hover::-webkit-scrollbar {
    width:0;
}
.food:hover::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
}
/*菜品显示区*/
.food_area{
    display: inline-block;
    background: #d5b797;
    margin:5px 0 5px 4px;
    border:1px solid white;
    border-radius:5px;
    -moz-border-radius:5px;
}
.food_area:hover{

}
.food_area img{
    width:240px;
    height:220px;
}
.food_area figcaption{
    color: white;
    padding: 0 0 5px 10px;
}
figcaption a{
    color: inherit;
}
.food_area .f_plus{
    float: right;
    margin: 0 10px 10px 0;
}
.food_area .glyphicon{
    font-size:large;
}
/*页脚导航*/
.footer .navbar-fixed-bottom{
    position: absolute;
}
.footer li{
    width: 165px;
    text-align: center;
}
.footer .badge{
    position: absolute;
    top:10px;
    left:100px;
    display: none;
}
.t_num{
    position: absolute;
    top:20px;
    left:20px;
    background: white;
    color: #2e6da4;
    font-size: x-large;
}